
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Doctors.js"></script>
<h2>Index</h2>

<input type="hidden" id="id" value="HdnId" class="form-control" />
<br />
<input type="text" id=txtName placeholder="Please enter the name" class="form-control" />
<br />
<input type="file" id="Image1" placeholder="Please select the Image" class="form-control" />
<br />
<input type="text" id="txtDesignation" placeholder="Please enter your designation" class="form-control" />
<br />
<input type="text" id="txtDescription" placeholder="Please enter your description" class="form-control" />
<br />
<input type="text" id="txtEducation" placeholder="Please enter your Education details" class="form-control" />
<br />
<input type="text" id="txtInstagramLink" placeholder="Please enter your Instagram link here" class="form-control" />
<br />
<input type="text" id="txtFacebookLink" placeholder="Please enter your Facebool link here" class="form-control" />
<br />
<input type="text" id="txtLinkedinLink" placeholder="Please enter your LinkedIn link here" class="form-control"/>
<br/>
<input type="submit" id="btnSubmit" value="Submit" onclick="saveDoctors()" class="btn btn-light"/>



