
@{
    ViewBag.Title = "CityList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/City.js"></script>
<h2>CityList</h2>

<section id="why-us">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="container-lg" id="tblCities">
                    <table id="tblCities" class="table table-bordered table-hover table-responsive table-sm">
                        <thead class="table-responsive">
                            <tr class="table-responsive">
                                <th class="table-primary">CityId</th>
                                <th class="table-secondary">CityName</th>
                                <th class="table-warning">StateId</th>
                            </tr>

                        </thead>

                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div id="CategoryModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-lg">
                <div class="modal-body tab-content">
                    <div class="container container-lg mt-3" id="tblAppointment">
                        <table id="tblAward" class=" table table-bordered table-dark table-hover">
                            <thead class="table-responsive">
                                <tr class="table-responsive">
                                    <th class="table-primary">Id</th>
                                    <th class="table-secondary">Title</th>
                                    <th class="table-warning">Details</th>
                                    <th class="table-danger">Image1</th>
                                    <th class="table-success">Image2</th>
                                    <th class="table-light">Type</th>
                                    <th class="table-info">Date</th>
                                    <th class="table-primary">CreateDate</th>
                                    <th class="table-secondary">UpdateDate</th>
                                    <th class="table-warning">CreatedBy</th>
                                    <th class="table-success">Updatedby</th>
                                </tr>

                            </thead>

                            <tbody>
                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

