
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Content/Activity.js"></script>
@*<h2>Index</h2>*@
<section id="why-us">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">



                    <h1>Welcome to Activity Page !!</h1>
                    <input type="hidden" id="HId" value="Id" />
                    <br />
                    <input type="text" id="txtTitle" placeholder="Please enter the title" class="form-control" />
                    <br />
                    <input type="text" id="txtDetails" placeholder="Please enter the Details" class="form-control" />
                    <br />
                    <input type="file" id="txtImage1" placeholder="Please enter the image1" class="form-control"  />
                    <br />
                    <input type="text" id="txtImage2" placeholder="Please enter the image2" class="form-control" />
                    <br />
                    <input type="text" id="txtType" placeholder="Please enter the type" class="form-control" />
                    <br />
                    <input type="date" id="txtDate" placeholder="Please enter the Date" class="form-control" />
                    <br />
                    <input type="text" id="txtCreateDate" placeholder="Please enter the createDate" class="form-control" />
                    <br />
                    <input type="text" id="txtUpdateDate" placeholder="Please enter the UpdateDate" class="form-control" />
                    <br />
                    <input type="text" id="txtCreatedby" placeholder="Please enter the id" class="form-control" />
                    <br />
                    <input type="text" id="txtUpdatedby" placeholder="Please enter the id" class="form-control" />
                    <br />
                    <input type="submit" id="btnSubmit" value="Submit" onclick="saveActivity()" class="btn btn-primary" />
                </div>
                @*<table id="tblactivity" border="1">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Details</th>
                                <th>Image1</th>
                                <th>Image2</th>
                                <th>Type</th>
                                <th>Date</th>
                                <th>CreateDate</th>
                                <th>UpdateDate</th>
                                <th>Createdby</th>
                                <th>Updatedby</th>
                            </tr>



                        </thead>
                        <tbody>
                        </tbody>



                    </table>*@
                @*<table style=" border-block:dashed double">
                        <tr style=" border:2x solid black">
                            <td>Id</td>
                            <td><span id="lblId"></span></td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td><span id="lblTitle"></span></td>
                        </tr>
                        <tr>
                            <td>Details</td>
                            <td><span id="lblDetails"></span></td>
                        </tr>
                        <tr>
                            <td>Image1</td>
                            <td><span id="lblImage1"></span></td>
                        </tr>
                        <tr>
                            <td>Image2</td>
                            <td><span id="lblImage2"></span></td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td><span id="lblType"></span></td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td><span id="lblDate"></span></td>
                        </tr>
                        <tr>
                            <td>CreateDate</td>
                            <td><span id="lblCreateDate"></span></td>
                        </tr>
                        <tr>
                            <td>UpdateDate</td>
                            <td><span id="lblUpdateDate"></span></td>
                        </tr>
                        <tr>
                            <td>Createdby</td>
                            <td><span id="lblCreatedby"></span></td>
                        </tr>
                        <tr>
                            <td>Updatedby</td>
                            <td><span id="lblUpdatedby"></span></td>
                        </tr>
                    </table>*@
</div>
</div>
</div>

</section>